.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 97px;
  left: 0;
  padding-right: 10rem;
  /* overflow: hidden; */
  background-color: rgba(37, 36, 36, 0.507);
  z-index: 998;
}

.cart {
  width: 95%;
  max-width: 377px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
  background-color: white;
  position: static;
  top: 5vh;
  left: 0;
  /* left: 50%; */
  /* transform: translateX(-100%); */
  border-radius: 10px;
  color: black;
  z-index: 9999;
}
.cart::-webkit-scrollbar {
  display: none;
}
.cartNumber {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.removeBtn {
  background: none;
  color: var(--crl-gray);
  margin: 0;
  text-decoration: underline;
  font-weight: 200;
}
.title {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  font-size: 2rem;
}

.item {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.price {
  color: var(--crl-gray);
  font-weight: 200;
}

.text {
  width: 70%;
}
.img {
  width: 25%;
  height: 100%;
  border-radius: 10px;
  margin-right: 1rem;
}

.h5 {
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h4 {
  color: var(--crl-gray);
  font-size: 1.5rem;
  font-weight: 200;
}
.h3 {
  font-size: 2rem;
}

.empty {
  margin: 4rem 0;
  font-size: 2rem;
  text-align: center;
}
.checkoutBtn {
  width: 95%;
}
@media (min-width: 768px) {
  .container {
    width: var(--max-widht);
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
@media (min-width: 1025px) {
  .container {
    position: absolute;
    left: 0;
    width: 100%;
    max-width: var(--crl-max-width);
  }

  .cart {
    position: static;
    margin: 0;
    margin-top: 3rem;
  }
}

.counter {
  width: 50%;
  display: flex;
  max-width: 200px;
}

.minus,
.plus,
.display {
  background-color: var(--crl-gray-light);
  color: var(--crl-gray);

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  margin: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.display {
  color: black;
}
.minus:hover,
.plus:hover {
  background-color: var(--crl-gray);
  color: white;
}
